@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply bg-white text-black box-border h-full overflow-hidden;
}

::-webkit-scrollbar-thumb {
  @apply bg-black;
}

.task > ::-webkit-scrollbar-thumb {
  @apply bg-[#514ffe] rounded-xl;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 2px solid black;
}

/* Handle */
.task > ::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}
